
*{
    font-family: 'Rubik', sans-serif;
}

#question-area{
       margin-top: 20px;
}

#question-box{
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-question{
    display: flex;
    justify-content: center;
    align-items: center;

}


 .size {
    width: 100px;
    height: 50px;
}

#all-buttons {
    text-align: center;
    margin-top: 100px;
}
button{
    background-color: #03cae4;
    color: fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover{
    background-color: #04adc4;
}

button:focus{
    outline: none;     
    background-color: #44b927;
}

@media only screen and (min-width: 400px) {


    
    #buttons-1-2 {
        margin-bottom: 100px;
    }
    
    .left {
        margin-left: 25px;
    }

}



@media only screen and (min-width: 510px) {
    
    .left {
        margin-left: 100px;
    }