

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; 
    padding: 0;
}

body {
    background-color: rgb(72, 127, 179);
  }

#question-area{
       margin-top: 20px;
}

#question-box{
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#picture-question{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .size {
    width: 500px;
    height: 100px;
    margin-top: 3px;
    margin-left: 0px;
}

.answers-button{
 inline-size: 200px;
 overflow-wrap: break-word;
 

}



#all-buttons {
    text-align: center;
    margin-top: 10px;
    
}
#submit{
    background-color: #2fc76e;
    /* color: fff; */
    border-color: black;
   display: block;
    width: 30%;
    cursor: pointer;
    font-size: 200%;
    font-family: inherit;
    /*padding: 1.3rem;*/
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    height: 300%;
    width: 150px;
    

}

button:hover{
    background-color: #04adc4;
}

button:focus{
    outline: none;     
    background-color: #44b927;
}


.bullets{
    
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;
}

.spans{
    flex: 1;
    display: flex;
}

.spans span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}

.spans span.on{
    background-color: #0075ff;
}
.results span{
    font-weight: bold;
}
.results span.perfect{
    color: #0075ff;
}
.results span.good{
    color: #009688;
}
.results span.try_again{
    color: #dc0a0a;
}

.center{
    text-align: center;
}


.footer a{
    color: #aaaaaa;
    transition: color 0.2s;
    margin: 0 10px; 
    border-radius: 50%;
    text-decoration: none;
    
}
.footer a:hover
{
    color: #333333;
}

.social-text{
    font-size: small;
    color: darksalmon;
    
}


.redButton{
    background-color: #dc0a0a !important;
}

/*
@media only screen and (min-width: 500px) {
            
    .answers-button{
        inline-size: 310px;
        overflow-wrap: break-word;
    }*/
    /*.size {
        width: 500px;
        height: 100px;
    
    

}*/
/*
@media only screen and (min-width: 630px) {
            
    .answers-button{
        inline-size: 500px;
        overflow-wrap: break-word;
    }
    
    

}
*/
@media only screen and (min-width: 400px) {
    #buttons-1-2 {
        display:flex;
        justify-content: center;
        
    }
    #buttons-3-4 {
        display: flex;
        justify-content: center;
    }
}